@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-card {
    border-radius: var(--Radius-reg-2, 12px);
    border: 1px solid #197686;
    display: flex;

    height: 110px;
    padding: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
  .custom-cont {
    padding: 16px;
    justify-content: space-between;
    align-items: center;

    align-self: stretch;
    border-radius: 24px;
    border: 1px solid #07373f;
    background: #052228;
  }
}
